@import '../../assets/scss/styles.scss';

section {
    background-color: $bg-color;
    width: 100%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* Balance CSS Style */

#balance {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 0 2%;
    justify-content: space-between;
    align-items: center;

    @include respond-to-max(768) {
        flex-direction: column;
    }
}

.card {
    background-color: $white;
    width: 30%;
    max-width: 400px;
    margin-top: -40px;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 8px 8px rgba(0,0,0,0.2);
    
    @include respond-to-max(768) {
        width: 90%;

        &:nth-child(2),
        &:nth-child(3) {
            margin-top: 20px;
            width: 90%;
        }
    }

    &:nth-child(3) {
        background-color: $green-light;

        .title {
            h1 {
                color: $white;
            }
        }

        h2 {
            color: $white;
        }
    }

    .title {
        display: flex;
        justify-content: space-between;

        h1 {
            font-size: 16px;
            font-weight: 400;
        }
    }

    h2 {
        margin-top: 16px;
        font-size: 36px;

        @include respond-to-max(1080) {
            font-size: 30px;
        }

        @include respond-to-max(992) {
            font-size: 24px;
        }
    }
}

/* New Transaction Button CSS Style */

#newTransaction {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 2%; 

    @include respond-to-max(768) {
        display: flex;
        justify-content: center;
    }

    button {
        width: 30%;
        max-width: 400px;
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: $color-title;
        background-color: $white;
        border: 0;
        font-weight: 600;
        box-shadow: 0px 8px 8px rgba(0,0,0,0.2);
        cursor: pointer;
        transition: opacity .2s ease-in-out;

        @include respond-to-max(1080) {
            font-size: 16px;
        }

        @include respond-to-max(992) {
            font-size: 15px;
            padding: 10px 15px;
        }

        @include respond-to-max(768) {
            width: 90%;
        }

        &:hover {
            opacity: 0.8;
        }

        img {
            margin-left: 16px;
        }
    }
}

/* Transactions CSS Style */

#allTransactions {
    width: 100%;
    max-width: 1200px;
    padding: 10px 2% 40px;
    margin: 0 auto;
    display: block;
    overflow-x: auto;
}

#data-table {
    width: 100%;
    border-spacing: 0rem 0.5rem;
    color: #969cb3;

    thead {
        tr {
            & th:first-child {
                border-radius: 5px 0 0 5px;
            }

            & th:last-child {
                border-radius: 0 5px 5px 0;
            }

        }
    }

    tbody {
        tr {
            opacity: 0.7;
            transition: opacity .2s ease-in-out;
    
            &:hover {
                opacity: 1;
            }

            & td:first-child {
                border-radius: 5px 0 0 5px;
            }

            & td:last-child {
                border-radius: 0 5px 5px 0;
            }
        }
    }

    th {
        background-color: $white;

        font-weight: 400;
        padding: 1rem 2rem;
        text-align: left;
    }

    td {
        background-color: $white;
        padding: 1rem 2rem;

        &.description {
            color: $color-title;
        }

        &.income {
            color: #12a454;
        }

        &.expense {
            color: #e92929;
        }

        &.date {
            color: $color-title;
        }
    }
}

/* Modal CSS Style */

#modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    padding: 0 2%;
    background-color: rgba(0,0,0,0.3);
    display: none;
    align-items: center;
    justify-content: center;

    @include respond-to-max(768) {
        align-items: flex-start;
        padding: 100px 2% 0;
    }

    &.activeModal {
        display: flex;
    }

    .modal {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        background-color: $white;
        padding: 40px;
    }

    .input-group {
        width: 100%;
        margin-top: 16px;

        input {
            width: 100%;
            padding: 10px 16px;
        }

        small {
            font-size: 14px;
            color: $color-text;
            font-weight: 400;

            @include respond-to-max(576) {
                font-size: 12px;
            }
        }
    }

    .button-group {
        width: 100%;
        margin-top: 30px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include respond-to-max(576) {
            flex-direction: column;
        }

        .cancel {
            width: 48%;
            background-color: transparent;
            border: 1px solid #e92929;
            padding: 10px 16px;
            color: #e92929;
            display: flex;
            justify-content: center;
            font-size: 18px;
            cursor: pointer;

            @include respond-to-max(576) {
                width: 100%;
                margin-bottom: 16px;
            }
        }

        .btn {
            width: 48%;
            background-color: #12a454;
            border: 1px solid #12a454;
            padding: 10px 16px;
            color: $white;
            font-size: 18px;
            cursor: pointer;
            transition: opacity 0.2s ease-in-out;

            @include respond-to-max(576) {
                width: 100%;
            }

            &:hover {
                opacity: 0.8;
            }
        }
    }
}